@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Epilogue&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Space Grotesk', sans-serif; */
  font-family: 'inter', sans-serif;
  scroll-behavior: smooth;
}